@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --ksl-green-light: #A8E063;   /* Header light green */
  --ksl-green: #8BC34A;         /* Main Kerala green */
  --ksl-green-dark: #689F38;    /* Dark green */
}


/* optional scrollbar styling */
.chat-scroll::-webkit-scrollbar {
  width: 8px;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.12);
  border-radius: 999px;
}
